@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light;
  background-color: #F5F5F7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



#app {
  margin: 0 auto;
  text-align: center;
}

hr {
  height: 4px;
  background-color: #19005F;
  border: 1px solid #19005F;
  border-radius: 10px;
}
